<html>
 <head>
  <title>
   Cloud Barangay System
  </title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <link href="styles.css" rel="stylesheet"/>
  <link href="form_style.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="wrapper">
   <div class="row1">
    <div class="head1">
     <div class="head1_left">
      <br/>
      <a href="www.facebook.com">
       <img src="social/facebook.png"/>
      </a>
      <a href="www.twitter.com">
       <img src="social/twitter.png"/>
      </a>
      <a href="www.google.com">
       <img src="social/google.png"/>
      </a>
      <a href="www.yahoo.com">
       <img src="social/yahoo.png"/>
      </a>
      <a href="www.youtube.com">
       <img src="social/youtube.png"/>
      </a>
     </div>
     <div class="head1_right">
      <div class="menu-wrap">
       <nav class="menu">
        <ul class="clearfix">
         <li>
          <a href="ChangeUser&amp;Pass.php?id=">
           <center>
            Change Username &amp;
            <br/>
            Password
           </center>
          </a>
         </li>
         <li>
          <a href="Logout.php">
           Logout
          </a>
         </li>
        </ul>
       </nav>
      </div>
     </div>
    </div>
   </div>
   <div class="row2">
    <div class="head2">
     <div class="wrapper">
      <div class="head2_left">
       <img src="images/cbs.png">
        <br/>
        <br/>
        CLOUD BARANGAY SYSTEM
       </img>
      </div>
     </div>
     <div class="wrapper">
      <div class="head2_right">
       <img src="images/logoCITE.png">
       </img>
      </div>
     </div>
    </div>
   </div>
   <header class="header">
   </header>
   <!-- .header-->
   <div class="upper_middle">
    <div class="container">
     <center>
      <a href="demoprofile.php?id=2">
       <img height="auto" src="images/map.png" width="200px"/>
      </a>
      <br/>
      Demographic Profile
     </center>
    </div>
    <!-- .container-->
    <aside class="left-sidebar">
     <center>
      <a href="brgyprofile.php?id=2">
       <img height="auto" src="images/home.png" width="200px"/>
      </a>
      <br/>
      Barangay Profile
     </center>
    </aside>
    <!-- .left-sidebar -->
    <aside class="right-sidebar">
     <center>
      <a href="AddResident.php?id=2">
       <img height="auto" src="images/users.png" width="200px"/>
      </a>
      <br/>
      I-Data
     </center>
    </aside>
    <!-- .right-sidebar -->
   </div>
   <!-- .middle-->
   <div class="lower_middle1">
    <div class="container">
     <main class="content">
     </main>
     <!-- .content -->
    </div>
    <!-- .container-->
    <aside class="left-sidebar">
    </aside>
    <!-- .left-sidebar -->
    <aside class="right-sidebar">
     <center>
      <a href="LoginCBSBundles.php">
       <img height="auto" src="images/data45.png" width="200px"/>
      </a>
      <br/>
      <br/>
      CBS Bundles
     </center>
    </aside>
    <!-- .right-sidebar -->
   </div>
   <br/>
   <!-- .middle-->
   <div class="lower_middle2">
    <div class="container">
     <main class="content">
      <center>
       <a href="BrgyOrdinance.php?id=2">
        <img height="auto" src="images/justice.png" width="200px"/>
       </a>
       <br/>
       Barangay Ordinance
      </center>
     </main>
     <!-- .content -->
    </div>
    <!-- .container-->
    <aside class="left-sidebar">
     <center>
      <a href="CBSSoftwares/cbsrrm.apk">
       <img height="auto" src="images/danger.png" width="200px"/>
      </a>
      <br/>
      Risk Reduction
      <br/>
      Management
     </center>
    </aside>
    <!-- .left-sidebar -->
    <aside class="right-sidebar">
     <center>
      <a href="search.php?id=2">
       <img height="auto" src="images/monitoring.png" width="200px"/>
      </a>
      <br/>
      Barangay Clearance
     </center>
    </aside>
    <!-- .right-sidebar -->
   </div>
   <br/>
   <!-- .middle-->
   <footer class="footer">
    <center>
     <hr color="4eb87d"/>
     <div class="weather">
      <div class="weather-left">
       <center>
        <font class="a3">
         Weather in Iloilo Today
        </font>
       </center>
       <br/>
       <div align="center">
        <script src="http://www.weatherforecastmap.com/weather2.php?zona=philippines_iloilo">
        </script>
        <a href="http://www.weatherforecastmap.com/philippines/iloilo" title="Iloilo Forecast">
         <font class="a3">
          <br/>
          Iloilo Forecast
         </font>
        </a>
       </div>
      </div>
      <div class="weather-right">
       <center>
        <font class="a3">
         Weather in Iloilo For The Next Days
        </font>
       </center>
       <br/>
       <div align="center">
        <script src="http://www.weatherforecastmap.com/weather1.php?zona=philippines_iloilo">
        </script>
        <a href="http://www.weatherforecastmap.com/philippines/iloilo" title="Weather Today in Iloilo">
         <font class="a3">
          <br/>
          Weather For the Next Days in Iloilo
         </font>
        </a>
       </div>
      </div>
     </div>
    </center>
   </footer>
   <!-- .footer -->
   <div class="last_footer">
    <br/>
    Cloud Barangay System is a project of PHINMA UI College of Information Technology Education
    <br/>
    Copyright 2015. CBS PHINMA UI CITE
    <br/>
   </div>
  </div>
  <!-- .wrapper -->
 </body>
</html>
